
body{

    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
   
    background-color: black;
}

.container{

    flex: 1;
}

.navbar{
    background-color: white;
    height: 5rem;
}

.compass{

    color: #fe424d;
    font-size: 2rem;
}
.nav-link{

    color: #222222 !important;
}

.btn-primary{

    margin-top: 10px;
}



.row a {


    width: auto;
    margin: 1rem;
    padding: 0;
    text-decoration: none;
}


footer{

    background-color: #222222;
    color: white;
    height: 6rem;
    border-top: solid 1px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info{

    font-size: 1.2rem;
    display: block;
    text-align: center;
}

.f-links a {

    text-decoration: none;
}

.listings-card{

    
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem !important ;
}

.card-body{

    padding: 0 !important;
}

.card-text p{

    font-weight: 400;
}


.card-btns{

    display: flex; 
    align-items: flex-end;
    gap: .5rem;
}


.delete{

    display: flex;
    align-items: center;
}
.edit, .btn{

    display: flex;
    align-items: center;
}

.navbar-nav{
    background-color: white;
}


.listing-card{

    transition: ease .3s;

}

.listing-card:hover{

    opacity: .80;
    
}


.show-listing-suggestions{

    width: 100%;
}




.card-img-top{

    height: 500px;
}

.review-card{

    position: relative;
}

.review-card-menu{

    position: absolute !important;
    top: 10px;
    right: 10px;
}

#map{

    height: 400px !important;
  
}